* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nino_Mtavruli";
}

.hide {
    display: none !important;
}

.upDown{
    transform: rotateX(180deg);
}