* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nino_Mtavruli";
}

.hide {
    display: none !important;
}

.upDown {
    transform: rotateX(180deg);
}

.showBgColor {
    background-color: $logoBackBlue;
}

.downloadBtnFlex {
    display: flex;
    align-items: flex-end;

    svg {
        margin: 0.438rem 0 0 0.438rem;
        cursor: pointer;
    }

    .task {
        margin-left: 3.813rem;
        padding: 6px 33px 6px 11px;
        background-color: $textBlue;
        width: 9.375rem;
        margin-top: 0.438rem;
        cursor: pointer;

        h3 {
            font-size: 1.125rem;
            color: $backgroundBlue;
        }

        p {
            font-size: 1.5rem;
            color: $backgroundBlue;
        }
    }
}

.bigPegas {
    max-width: 24.688rem;
    width: 100%;
}

.correct {
    color: green !important;
}

.wrong {
    color: red !important;
}

#dasrulebaTavidan {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;

    #dasruleba {
        @include button($dasrulebaBack)
    }

    #tavidan {
        @include button($textBlue)
    }
}
.drop-zone{
    font-size: 2rem;
    line-height: 0;
    padding: 20px;
    border: solid #5890AE;
    display: inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 13px;
    
}
.correct {
    color: green;
  }
  
.incorrect {
    color: red;
  }
  .test{
    grid-row: 3;
  }
  