* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 21% 77%;
    grid-gap: 2%;
    min-height: 100vh;
    overflow-x: hidden;
}

.hide {
    display: none !important;
}