@font-face {
  font-family: "Nino_Mtavruli";
  src: url(../../fonts/bpg_nino_mtavruli_bold.otf) format("openType");
  font-display: swap;
}
@font-face {
  font-family: "BoldNino";
  src: url(../../fonts/bpg_nino_mkhedruli_bold.otf) format("openType");
  font-display: swap;
}
@font-face {
  font-family: "mainFont";
  src: url(../../fonts/bpg-nino-mkhedruli-webfont.ttf) format("truetype");
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nino_Mtavruli";
}

.hide {
  display: none !important;
}

.upDown {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.showBgColor {
  background-color: #a2b6b8;
}

.downloadBtnFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.downloadBtnFlex svg {
  margin: 0.438rem 0 0 0.438rem;
  cursor: pointer;
}
.downloadBtnFlex .task {
  margin-left: 3.813rem;
  padding: 6px 33px 6px 11px;
  background-color: #5890ae;
  width: 9.375rem;
  margin-top: 0.438rem;
  cursor: pointer;
}
.downloadBtnFlex .task h3 {
  font-size: 1.125rem;
  color: #c1d4d6;
}
.downloadBtnFlex .task p {
  font-size: 1.5rem;
  color: #c1d4d6;
}

.bigPegas {
  max-width: 24.688rem;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row: 1/4;
  width: 16.375rem;
}
header .mainLogo {
  background-color: #a2b6b8;
  height: 6rem;
}
header .tavfurceli {
  color: #5890ae;
  background-color: #c1d4d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}
header .tavfurceli img {
  padding-right: 1rem;
}
header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .navigation .lessonMainCont {
  position: relative;
  max-width: 12.5rem;
  height: 3.188rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.75rem 0 0.75rem 0;
}
header .navigation .lessonMainCont .lessonChildCont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.063rem;
  height: 3.188rem;
  margin: 0.75rem 0.75rem;
  cursor: pointer;
}
header .navigation .lessonMainCont .lessonChildCont .sideBarFirstIcon {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
header .navigation .lessonMainCont .lessonChildCont .moemzade-title {
  background-color: #5890ae;
  padding: 10px 7px 5px 23px;
  position: absolute;
  left: 2.563rem;
  border-top-right-radius: 0.625rem;
  width: 9.875rem;
}
header .navigation .lessonMainCont .lessonChildCont .moemzade-title h3 {
  font-size: 1.563rem;
  color: #c1d4d6;
}
header .navigation .lessonMainCont .sideBarDownloadBtn {
  position: absolute;
  top: 0.956rem;
  right: -3.438rem;
  cursor: pointer;
}
header .settings {
  background-color: #c1d4d6;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin-top: auto;
  cursor: pointer;
}
header .settings img {
  padding: 0 1rem;
}

body {
  font-family: "mainFont";
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 3.25rem;
  grid-row-gap: 1.813rem;
  margin: 0 auto;
  min-height: 100vh;
}
body .head {
  background-color: #c1d4d6;
  font-size: 2rem;
  color: #5890ae;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0.5rem;
  grid-column: 2/4;
}
body .head img {
  padding-left: 0.5rem;
}
body main .body #books {
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: 132.75rem;
  margin: 0 auto;
  -webkit-column-gap: 7.875rem;
     -moz-column-gap: 7.875rem;
          column-gap: 7.875rem;
  row-gap: 3.563rem;
}
body main .body #books .card {
  position: relative;
  background-color: #c1d4d6;
  width: min(13rem, 100%);
  margin: 2rem 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
body main .body #books .card .cover {
  position: absolute;
}
body main .body #books .card #bookCover0,
body main .body #books .card #bookCover1 {
  margin-top: 4rem;
}
body main .body #books .card #bookCover2,
body main .body #books .card #bookCover3,
body main .body #books .card #bookCover4,
body main .body #books .card #bookCover5 {
  margin-top: 3.5rem;
}
body main .body #books .card .card-title {
  font-weight: 600;
  text-align: center;
  color: #5890ae;
  font-size: 1.5rem;
  padding-top: 1rem;
}
body main .body #books .card .downloadBtn {
  background-color: #c1d4d6;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0.5rem;
  border-radius: 0 0.813rem 0.813rem 0;
}
body main .body #aboutProject {
  color: #0a2b39;
}
body main .body #aboutProject p {
  margin: 2rem 0;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
body main .body #aboutProject p strong {
  font-family: "BoldNino";
}
body main .body #lesson {
  display: grid;
  grid-template-columns: -webkit-fit-content 1fr;
  grid-template-columns: fit-content 1fr;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
body main .body #lesson h2 {
  color: #5890ae;
  font-size: 2rem;
  margin: 2rem 0 1rem;
  grid-column: 1/3;
}
body main .body #lesson img {
  width: 8rem;
}
body main .body #lesson .right-block {
  margin-top: 1rem;
}
body main .body #lesson .right-block strong {
  color: #5890ae;
  font-size: 2rem;
  padding-bottom: 2rem;
}
body main .body #lesson .right-block p {
  color: #0a2b39;
  font-size: 2rem;
  margin-bottom: 2rem;
}
body main .body #lesson .right-block ol li,
body main .body #lesson .right-block ul li {
  color: #0a2b39;
  font-size: 2rem;
}
body main .body #lesson .right-block ul {
  list-style-type: circle;
  margin-left: 2rem;
}
body main .body #lesson .right-block ul li {
  padding-top: 2rem;
}
body main .body #lesson .right-block .fa-solid {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}
body main .body #lesson .waikitxe {
  margin-top: 1rem;
}
body main .body #lesson .waikitxe .part1 {
  display: grid;
  grid-template-areas: "p1 p1" "p2 img";
}
body main .body #lesson .waikitxe .part1 img {
  grid-area: img;
  width: 100%;
  height: auto;
}
body main .body #lesson .waikitxe .part1 p {
  color: #0a2b39;
  font-size: 2rem;
  margin-bottom: 2rem;
}
body main .body #lesson .waikitxe .part1 p:nth-child(1) {
  grid-area: p1;
}
body main .body #lesson .waikitxe .part1 p:nth-child(2) {
  grid-area: p2;
}
body main .body #lesson .waikitxe .part2 {
  display: grid;
  grid-template-areas: "p1 p1" "img1 img2" "p2 p2";
}
body main .body #lesson .waikitxe .part2 p {
  color: #0a2b39;
  font-size: 2rem;
  margin-bottom: 2rem;
}
body main .body #lesson .waikitxe .part2 p:nth-child(1) {
  grid-area: p1;
}
body main .body #lesson .waikitxe .part2 p:nth-child(2) {
  grid-area: p2;
}
body main .body #lesson .waikitxe .part2 img:nth-child(3) {
  position: relative;
  grid-area: img1;
  height: 10rem;
  left: 70%;
}
body main .body #lesson .waikitxe .part2 img:nth-child(4) {
  grid-area: img2;
  height: 10rem;
}
body main .body #lesson .waikitxe .part3 {
  display: grid;
  grid-template-areas: "p1 p1" "p2 img";
}
body main .body #lesson .waikitxe .part3 p {
  color: #0a2b39;
  font-size: 2rem;
  margin-bottom: 2rem;
}
body main .body #lesson .waikitxe .part3 p:nth-child(1) {
  grid-area: p1;
}
body main .body #lesson .waikitxe .part3 p:nth-child(2) {
  grid-area: p2;
}
body main .body #lesson .waikitxe .part3 img:nth-child(3) {
  grid-area: img;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body main .body #lesson .waikitxe .fa-solid {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}

@media (max-width: 2700px) and (min-width: 1920px) {
  body main {
    max-width: 70.625rem;
    grid-column: 2/4;
    grid-row: 2/3;
    margin: auto;
  }
  body main .body #books {
    -webkit-column-gap: 11.625rem;
       -moz-column-gap: 11.625rem;
            column-gap: 11.625rem;
    row-gap: 7.875rem;
  }
  body main .body #books .card {
    width: 14.375rem;
    height: 18.125rem;
  }
  body main .body #books .card #bookCover0 {
    width: 6.125rem;
    margin-top: 5rem;
  }
  body main .body #books .card #bookCover1 {
    width: 2.688rem;
    margin-top: 4.5rem;
  }
  body main .body #books .card #bookCover2 {
    width: 5.625rem;
    margin-top: 4.2rem;
  }
  body main .body #books .card #bookCover3 {
    width: 6.375rem;
    margin-top: 4.2rem;
  }
  body main .body #books .card #bookCover4 {
    width: 6.625rem;
    margin-top: 4.2rem;
  }
  body main .body #books .card #bookCover5 {
    width: 106px;
    margin-top: 4.2rem;
  }
  body main .body #books .card .card-title {
    font-size: 1.813rem;
  }
  body main .body #books .card img:nth-child(1) {
    width: 160px;
  }
}
@media (min-width: 2700px) {
  body main {
    max-width: 132.188rem;
    grid-column: 2/4;
    grid-row: 2/3;
    margin: auto;
  }
  body main .body #books {
    -webkit-column-gap: 30rem;
       -moz-column-gap: 30rem;
            column-gap: 30rem;
    row-gap: 25.625rem;
  }
  body main .body #books .card {
    width: 22.188rem;
    height: 27.813rem;
  }
  body main .body #books .card .card-title {
    font-size: 2.75rem;
  }
  body main .body #books .card #bookCover0 {
    width: 9.375rem;
    margin-top: 7rem;
  }
  body main .body #books .card #bookCover1 {
    width: 4.125rem;
    margin-top: 6.5rem;
  }
  body main .body #books .card #bookCover2 {
    width: 8.5rem;
    margin-top: 6.2rem;
  }
  body main .body #books .card #bookCover3 {
    width: 9.75rem;
    margin-top: 6.2rem;
  }
  body main .body #books .card #bookCover4 {
    width: 9.875rem;
    margin-top: 6.5rem;
  }
  body main .body #books .card #bookCover5 {
    width: 10.125rem;
    margin-top: 6.5rem;
  }
  body main .body #books .card img:nth-child(1) {
    width: 15.313rem;
  }
}