@media (max-width:2700px) and (min-width:1281px){
    .parent{
        grid-template-columns: repeat(2, 0fr);
        .header{
            grid-column: 2/6;
        }
        .mainContSection{
            max-width: 1130px;
            height: 710px;
            grid-column: 3/5;
            .main-page-cards{
                column-gap: 186px;
                row-gap: 126px;
                .card{
                    width: 230px;
                    height: 290px;
                    h3{
                        font-size: 29px;
                    }
                    .bookImg{
                        width: 160px;
                    }
                    .absolute-first{
                        top: 100px;
                        left: 65px;
                        width: 98px;
                    }
                    .absolute-second{
                        top: 90px;
                        right: 85px;
                        width: 43px;
                    }
                    .absolute-third{
                        top: 90px;
                        left: 80px;
                        width: 90px;
                    }
                    .absolute-fourth{
                        top: 84px;
                        left: 70px;
                        width: 102px;
                    }
                    .absolute-fifth{
                        top: 86px;
                        right: 53px;
                        width: 103px;
                    }
                    .absolute-sixth{
                        top: 86px;
                        left: 75px;
                        width: 106px;
                    }
                }
            }
        }
    }
}

@media (min-width:2700px){
    .parent{
        grid-template-columns: repeat(2, 0fr);
        .header{
            grid-column: 2/6;
        }
        .mainContSection{
            max-width: 2125px;
            height: 1300px;
            grid-column: 3/6;
            .main-page-cards{
                column-gap: 480px;
                row-gap: 410px;
                .card{
                    width: 355px;
                    height: 445px;
                    h3{
                        font-size: 44px;
                        max-width: 270px;
                    }
                    .bookImg{
                        width: 245px;
                    }
                    .absolute-first{
                        top: 165px;
                        left: 100px;
                        width: 150px;
                    }
                    .absolute-second{
                        top: 145px;
                        right: 127px;
                        width: 66px;
                    }
                    .absolute-third{
                        top: 147px;
                        left: 125px;
                        width: 136px;
                    }
                    .absolute-fourth{
                        top: 135px;
                        left: 110px;
                        width: 156px;
                    }
                    .absolute-fifth{
                        top: 135px;
                        right: 75px;
                        width: 158px;
                    }
                    .absolute-sixth{
                        top: 136px;
                        left: 115px;
                        width: 162px;
                    }
                }
            }
        }
    }
}