@media only screen and (min-width: 2000px) {
    main {
        .body {
            #books {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                
                .card {
                    margin: 8rem 0;
                    width: 15rem;
                    max-height: 22rem;
                    height: 22rem;

                    img:nth-child(1) {
                        width: 100%;
                    }

                    #bookCover0 {
                        width: 8rem;
                        margin-top: 6rem;
                    }

                    #bookCover1 {
                        width: 4rem;
                        margin-top: 5rem;
                    }

                    #bookCover2 {
                        width: 8rem;
                        margin-top: 5rem;
                    }

                    #bookCover3 {
                        width: 8rem;
                        margin-top: 5.5rem;
                    }

                    #bookCover4 {
                        width: 8rem;
                        margin-top: 6rem;
                    }

                    #bookCover5 {
                        width: 8rem;
                        margin-top: 6rem;
                    }

                    .card-title{
                        font-size: xx-large;
                    }
                }
            }
        }
    }
}