main {
    .head {
        background-color: $backgroundBlue;
        font-family: "Nino_Mtavruli";
        font-size: 2rem;
        color: $textBlue;
        height: 6rem;
        display: flex;
        align-items: flex-end;
        padding: 0.5rem;
    }

    .body {
        display: flex;

        #books {
            display: flex;
            flex-wrap: wrap;
            column-gap: 15%;

            .card {
                position: relative;
                background-color: $backgroundBlue;
                width: min(13rem, 100%);
                margin: 2rem 0;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                .cover {
                    position: absolute;
                }

                #bookCover0,
                #bookCover1 {
                    margin-top: 4rem;
                }

                #bookCover2,
                #bookCover3,
                #bookCover4,
                #bookCover5 {
                    margin-top: 3.5rem;
                }

                .card-title {
                    font-family: "Nino_Mtavruli";
                    font-weight: 600;
                    text-align: center;
                    color: $textBlue;
                    font-size: 1.5rem;
                    padding-top: 1rem;
                }

                .downloadBtn {
                    background-color: $backgroundBlue;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    padding: 0.5rem;
                    border-radius: 0 13px 13px 0;
                }
            }
        }

        #aboutProject {
            color: $textDarkBlue;

            p {
                font-family: 'mainFont';
                margin: 2rem 0;
                font-size: 1.7rem;
                line-height: 2.5rem;

                strong {
                    font-family: 'BoldNino';
                }
            }
        }
    }
}